{sub_dirs, ["deps"]}.
{lib_dirs, ["deps"]}.
{deps_dir, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [{sync,        ".*", {git, "git://github.com/rustyio/sync",      "HEAD"}},
        {n2o,         ".*", {git, "git://github.com/5HT/n2o.git",       "HEAD"}},
        {n2o_scripts, ".*", {git, "git://github.com/synrc/n2o_scripts", "HEAD"}}
]}.

{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {source_ext, ".dtl"},
    {module_ext, "_view"}
]}.

{post_hooks, [{compile, "cp -R ./deps/n2o_scripts/n2o  ./priv/assets/"}]}.
